.filter-list {
  margin: 0 -4px;
  display: flex;
  justify-content: center;
}
.filter-list__item {
  padding: 0 4px;
}
.filter-list__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var(--light-bg);
}
.filter-list__btn:hover,
.filter-list__btn:focus {
  color: var(--light-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio__content {
  text-align: center;
}
.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__topic {
  font-size: 16px;
  line-height: 1.87;
  color: var(--sub-text-color);
}
